# --- Banco de Dados MySQL ---
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_ROOT_PASSWORD=root

# --- Segurança & JWT ---
JWT_SECRET=sua_secret_jwt_compartilhada_muito_segura_e_longa_tipo_muito_longa_e_segura_12345
JWT_EXPIRATION=86400000

# --- Mensageria Kafka ---
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# --- Integração Groq (IA) ---
GROQ_API_KEY=suapigrokaqui

# --- OAuth2 / Google ---
GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy
